html {
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }
}


body {
  > header {
    .navbar {
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
}

body {
  main {
    > .section {
      .nav {
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }
}
