html {
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
}

body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  .node-body {
    font-family: 'PT Serif', 'Times New Roman', 'Times', serif;

    pre,
    code {
      font-family: 'JetBrains Mono', monospace;
    }

    pre {
      border-radius: .25rem;
      max-height: 40rem;

      > code {
        display: block;
        padding: 1rem;
      }
    }
  }
}
